<h1>Edit Child</h1>

<%= simple_form_for @child do |form| %>
  <%= form.input :first_name, label: "First Name" %>
  <%= form.input :last_name, label: "Last Name" %>
  <%= form.input :birth_date, as: :date, label: "Birth Date" %>

  <%= form.button :submit, "Update Child" %>
<% end %>
