<h1>New Guard</h1>

<h2>One week pattern</h2>

<%= simple_form_for([@child, @guard]) do |f| %>
  <div class="form-group">
    <%= f.input :monday, as: :boolean, label: "Monday", input_html: { class: "form-check-input" } %>
  </div>

  <div class="form-group">
    <%= f.input :tuesday, as: :boolean, label: "Tuesday", input_html: { class: "form-check-input" } %>
  </div>

  <div class="form-group">
    <%= f.input :wednesday, as: :boolean, label: "Wednesday", input_html: { class: "form-check-input" } %>
  </div>

  <div class="form-group">
    <%= f.input :thursday, as: :boolean, label: "Thursday", input_html: { class: "form-check-input" } %>
  </div>

  <div class="form-group">
    <%= f.input :friday, as: :boolean, label: "Friday", input_html: { class: "form-check-input" } %>
  </div>

  <div class="form-group">
    <%= f.input :saturday, as: :boolean, label: "Saturday", input_html: { class: "form-check-input" } %>
  </div>

  <div class="form-group">
    <%= f.input :sunday, as: :boolean, label: "Sunday", input_html: { class: "form-check-input" } %>
  </div>

  <%= f.hidden_field :child_id, value: @child.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.submit "Create Guard", class: "btn btn-flat" %>
  </div>
<% end %>
