<h1>Create a New Event</h1>

<%= form_with(model: @event) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: "form-textarea" %>
  </div>

  <div class="field">
    <%= form.label :status, "Importance Level" %>
    <%= form.select :status, options_for_select(['High', 'Medium', 'Low']), { include_blank: "Select Importance:" }, class: "form-select" %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_local_field :start_date, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_local_field :end_date, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label :children, "Select Children" %><br>
    <% @children.each do |child| %>
      <%= form.check_box :child_ids, { multiple: true }, child.id, nil %>
      <%= form.label "child_ids_#{child.id}", "#{child.first_name} #{child.last_name}" %><br>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :user_receivers, "Select User Receivers" %><br>
    <% @users.each do |user| %>
      <%= form.check_box :user_ids, { multiple: true }, user.id, nil %>
      <%= form.label "user_ids_#{user.id}", "#{user.first_name} #{user.last_name}" %><br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Create Event", class: "btn btn_primary btn-flat" %>
  </div>
<% end %>

<%= link_to 'Back to Dashboard', dashboard_path %>
