
<h1 class="text-md-center">Welcome to your Dashboard, <%= current_user.first_name %>!</h1>

<h2 class="text-md-center">Your family : <%= current_user.family ? current_user.family.name : link_to("Create your family", new_family_path) %></h2>
<div class="container">
  <div class="row">
    <div class="col-3">
      <% if current_user.family %>

      <div class="card-dashboard p-3">
        <h3>Family Members :</h3>
        <div class="card-body">

          <%current_user.family.family_members.each do |member|%>
          <p>
            <%=member.user.first_name%>
           <% if member.is_parent %>
            (parent)
            <% end %>
          </P>
          <%end%>
        </div>
      </div>

      <p><%= link_to "Add a Child", new_family_child_path(current_user.family), class: "btn btn-flat" %></p>

      <% if @children.any? %>

        <ul>
          <% @children.each do |child| %>
            <li>
              <strong><%= child.first_name %> <%= child.last_name %></strong>, born on <%= child.birth_date %> <br>

                <%= link_to "Edit", edit_child_path(child), class: "btn no-border hover-effect" %>
                <%= link_to 'Delete', child_path(child), data: { "turbo-method": :delete, confirm: 'Are you sure?' }, class: 'btn no-border hover-effect' %>
                <%= link_to "Guard", new_child_guard_path(child), data: { bs_toggle: "modal", bs_target: "#guard-modal-new" }, class: "btn no-border hover-effect" %>

              <!-- Modal Guard -->
              <div class="modal fade" id="guard-modal-new" tabindex="-1" role="dialog" aria-labelledby="guardModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="guardModalTitle">Create a guard</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if current_user.family && current_user.family.children.any? %>
          <% child = current_user.family.children.first %>
          <% guard = child.guards.new(user: current_user) %>
          <%= render "guards/new",
                     child: child,
                     guard: guard,
                     taken_days: @taken_days || [] %>
        <% else %>
          <p>No children found</p>
        <% end %>
      </div>
    </div>
  </div>
</div>



                <%= link_to "Event", new_child_event_path(child), class: "btn no-border hover-effect" %>
                <%= link_to "Expenses", child_expenses_path(child), class: "btn no-border hover-effect" %>

                <%= link_to "Documents", documents_path(child), class: "btn no-border hover-effect" %>

                <%= link_to "Events", child_events_path(child), class: "btn no-border hover-effect" %>


            </li>
          <% end %>
        </ul>

      <% else %>
        <p>No children added yet.</p>
      <% end %>

      <div class="card-dashboard p-3">
        <h3>Send an invitation</h3>
        <div class="card-body ">
          <p><%= render 'invitations/form'%></p>
        </div>
      </div>
      <%end%>


      <div class="card-dashboard p-3">
        <h3>Invitations</h3>
        <div class="card-body">
          <% @invitations.each do |invitation| %>
          <div>
          <p>sent to <%=invitation.recipient.email%></p>
          <p>Status: <%= invitation.status %></p>
          <% if invitation.status == 'pending' %>
            <%= link_to 'Accept', accept_invitation_path(invitation), method: :patch %>
            <%= link_to 'cancel', reject_invitation_path(invitation), method: :patch %>
          <% end %>
          </div>
          <% end %>
          <% @invits.each do |invitation| %>
            <div>
              <p>Invitations received from: <%= invitation.family.name %></p>
              <p>sent by <%=invitation.user.email%> </p>
              <p>Status: <%= invitation.status %></p>
              <p><%=invitation.id%></p>
              <% if invitation.status == 'pending' %>
                <%= button_to 'Accept',  accept_invitation_path(invitation), method: :patch , data: {confirm: "Are you sure ? "}%>
                <%= button_to 'Reject',  reject_invitation_path(invitation), method: :patch %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-9">
      <% if @days_and_guards.present? %>
        <button class="current-user-bg btn btn-flat"><%=current_user.first_name%></button>
        <%other_user = @days_and_guards.find { |guard| guard[:user] != current_user.first_name }%>
         <% if other_user.present? %>
        <button class="second-user-bg btn btn-flat-second-user"><%= other_user[:user] %></button>
        <% else %>
        <p>no other user</p>
        <% end %>
      <% else %>
        <p>No guards available</p>
      <% end %>
        <%= month_calendar do |date| %>
        <% day_name = date.strftime("%A") %>
        <div data-controller="highlight"
            data-highlight-selected-days-value="<%= @days_and_guards.to_json %>"
            data-highlight-user-value="<%= current_user.first_name %>">
          <div class="guard-day"><%= day_name %></div>
        </div>
      <% end %>

    </div>
  </div>
</div>
