<div class="card d-flex flex-row align-items-center my-3">
  <div class="card-body flex-grow-1">
    <div class="d-flex justify-content-between align-items-center">
      <div class="expense-details">
        <p class="mb-1"><%= @expense.description %></p>
        <p class="mb-0"><strong> <%= number_to_currency(@expense.amount, unit: "€", format: "%n %u") %></strong></p>
        <p class="mb-1"><strong>Paid by <%= @expense.user.first_name %></strong></p>
      </div>
      <div class="expense-amount">
        <p class="mb-1"><strong>Date:</strong> <%= @expense.date %></p>
      </div>
    </div>
  </div>
</div>



<div class="expense-actions">
  <%= link_to "Back", child_expenses_path(@expense.child), class: "btn btn-sm btn-primary me-2" %>
  <%= link_to "Edit", edit_expense_path(@expense), class: "btn btn-sm btn-primary me-2" %>
  <%= link_to "Delete", expense_path(@expense),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
     class: "btn btn-sm btn-danger" %>
</div>
